@import 'tailwindcss';

@theme {
    --spacing-13: 52px;
    --spacing-22: 88px;
    --spacing-22.5: 90px;
    --spacing-25: 100px;
    --spacing-30: 120px;
    --spacing-32.5: 130px;
    --spacing-35: 140px;
    --spacing-45: 180;
    --spacing-50: 200px;
    --spacing-55: 220px;
    --spacing-65: 260px;
    --spacing-70: 280px;
    --spacing-72.5: 290px;
    --spacing-85: 340px;
    --spacing-87.5: 350px;
    --spacing-105: 420px;
    --spacing-107.5: 430px;
    --spacing-112.5: 450px;
    --spacing-125: 500px;
    --spacing-160: 640px;
    --spacing-170: 680px;
    --spacing-175: 700px;
    --spacing-190: 760px;
    --spacing-200: 800px;
    --spacing-212.5: 850px;
    --spacing-225: 900px;
    --spacing-312.5: 1250px;
    --spacing-330: 1320px;
    --spacing-362.5: 1450px;
}

:root {
    --background: #f8fafc;
    --surface: #ffffff;
    --surface-soft: #f1f5f9;

    --primary: #2563eb;
    --primary-soft: #60a5fa;

    --accent: #f59e0b;

    --text: #0f172a;
    --muted: #64748b;

    --border: rgba(15, 23, 42, 0.08);
}

* {
    box-sizing: border-box;
}

html {
    direction: rtl;
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--text);
    overflow-x: hidden;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-BlackItalic.eot');
    src:
        url('/fonts/poppins/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-BlackItalic.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-BlackItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Black.eot');
    src:
        url('/fonts/poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-Black.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-Black.woff') format('woff'),
        url('/fonts/poppins/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Bold.eot');
    src:
        url('/fonts/poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-Bold.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-Bold.woff') format('woff'),
        url('/fonts/poppins/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-BoldItalic.eot');
    src:
        url('/fonts/poppins/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-BoldItalic.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-BoldItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-ExtraBold.eot');
    src:
        url('/fonts/poppins/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-ExtraBold.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-ExtraBold.woff') format('woff'),
        url('/fonts/poppins/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-ExtraBoldItalic.eot');
    src:
        url('/fonts/poppins/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-ExtraLight.eot');
    src:
        url('/fonts/poppins/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-ExtraLight.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-ExtraLight.woff') format('woff'),
        url('/fonts/poppins/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-ExtraLightItalic.eot');
    src:
        url('/fonts/poppins/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-ExtraLightItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Italic.eot');
    src:
        url('/fonts/poppins/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-Italic.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-Italic.woff') format('woff'),
        url('/fonts/poppins/Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Light.eot');
    src:
        url('/fonts/poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-Light.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-Light.woff') format('woff'),
        url('/fonts/poppins/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-LightItalic.eot');
    src:
        url('/fonts/poppins/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-LightItalic.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-LightItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-MediumItalic.eot');
    src:
        url('/fonts/poppins/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-MediumItalic.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-MediumItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-MediumItalic.svg#Poppins-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Medium.eot');
    src:
        url('/fonts/poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-Medium.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-Medium.woff') format('woff'),
        url('/fonts/poppins/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Regular.eot');
    src:
        url('/fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-Regular.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-Regular.woff') format('woff'),
        url('/fonts/poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-SemiBold.eot');
    src:
        url('/fonts/poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-SemiBold.woff') format('woff'),
        url('/fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-SemiBoldItalic.eot');
    src:
        url('/fonts/poppins/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-SemiBoldItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Thin.eot');
    src:
        url('/fonts/poppins/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-Thin.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-Thin.woff') format('woff'),
        url('/fonts/poppins/Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-ThinItalic.eot');
    src:
        url('/fonts/poppins/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins/Poppins-ThinItalic.woff2') format('woff2'),
        url('/fonts/poppins/Poppins-ThinItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

.poppins {
    font-family: 'Poppins';
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 100;
    src:
        url('/fonts/yekan/woff/IRANYekanX-Thin.woff') format('woff'),
        url('/fonts/yekan/woff2/IRANYekanX-Thin.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 200;
    src:
        url('/fonts/yekan/woff/IRANYekanX-UltraLight.woff') format('woff'),
        url('/fonts/yekan/woff2/IRANYekanX-UltraLight.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 300;
    src:
        url('/fonts/yekan/woff/IRANYekanX-Light.woff') format('woff'),
        url('/fonts/yekan/woff2/IRANYekanX-Light.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 500;
    src:
        url('/fonts/yekan/woff/IRANYekanX-Medium.woff') format('woff'),
        url('/fonts/yekan/woff2/IRANYekanX-Medium.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 600;
    src:
        url('/fonts/yekan/woff/IRANYekanX-DemiBold.woff') format('woff'),
        url('/fonts/yekan/woff2/IRANYekanX-DemiBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 800;
    src:
        url('/fonts/yekan/woff/IRANYekanX-ExtraBold.woff') format('woff'),
        url('/fonts/yekan/woff2/IRANYekanX-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 900;
    src:
        url('/fonts/yekan/woff/IRANYekanX-Black.woff') format('woff'),
        url('/fonts/yekan/woff2/IRANYekanX-Black.woff2') format('woff2');
}
@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 950;
    src:
        url('/fonts/yekan/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
        url('/fonts/yekan/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 1000;
    src:
        url('/fonts/yekan/woff/IRANYekanX-Heavy.woff') format('woff'),
        url('/fonts/yekan/woff2/IRANYekanX-Heavy.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    src:
        url('/fonts/yekan/woff/IRANYekanX-Bold.woff') format('woff'),
        url('/fonts/yekan/woff2/IRANYekanX-Bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: normal;
    src:
        url('/fonts/yekan/woff/IRANYekanX-Regular.woff') format('woff'),
        url('/fonts/yekan/woff2/IRANYekanX-Regular.woff2') format('woff2');
}

.yekan {
    font-family: 'IRANYekanX';
}
